.idea
.vscode
.DS_Store
.python-version
*.iml
*.log
bin
datasource
migrations
aerich.ini
__pycache__
.qiniu_pythonsdk_hostscache.json
app/scripts/*
app/lib/data
app/lib/card/image
app/resource/metadata_conf.pkl
app/resource/metadata_conf*.pkl
app/resource/qrcode/*
app/settings/.*.env
app/scripts/*.py
app/db/data/*.ann
app/lib/nest
app/lib/nest_redis
筑巢人居
.vscode/settings.json
logs
app/xqk
